/* Thay đổi kiểu dáng cho phần lọc tháng và năm */
.filter-container {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.month-filter, .year-filter {
  min-width: 120px;
}

/* Tăng cường kiểu dáng cho bảng */
.table-container {
  margin-top: 16px;
}

/* Cải thiện kiểu dáng của ô tìm kiếm */
.search-form {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.search-form .MuiTextField-root {
  flex: 1;
}

/* Tăng cường kiểu dáng của các nút và ô chọn */
.MuiSelect-root {
  width: 120px;
}

/* Cải thiện giao diện các ô input thời gian */
.MuiTextField-root {
  width: 100%;
}

.table-cell {
  padding: 8px;
  text-align: center;
}
.attendance-dashboard {
  padding: 2rem;
}

.search-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.month-filter, .year-filter {
  min-width: 120px;
}
.table-head-bold .MuiTableCell-root {
  font-weight: bold;
}
