.form-enter {
  opacity: 0;
}

.form-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.form-exit {
  opacity: 1;
}

.form-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
