.approved-row {
    background-color: #d0f0c0; /* Xanh nhạt */
}

.rejected-row {
    background-color: #f0c0c0; /* Đỏ nhạt */
}
/* File TicketPage.css */
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-title {
    max-width: 150px; /* Hoặc kích thước mong muốn cho tiêu đề */
}

.truncate-description {
    max-width: 300px; /* Hoặc kích thước mong muốn cho mô tả */
}
